<%= form_for(@english_article) do |f| %>
  <% if @english_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@english_article.errors.count, "error") %> prohibited this english_article from being saved:</h2>

      <ul>
      <% @english_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
