<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @english_article.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @english_article.description %>
</p>

<%= link_to 'Edit', edit_english_article_path(@english_article) %> |
<%= link_to 'Back', english_articles_path %>
